@keyframes grow {
    from {font-size: 18px;}
    to {font-size: 24px;}
}

@keyframes move {
0% {left: 0%}
25% {left: 25%}
50% {left: 50%}
75% {left: 25%}
95% {left: 0.1%}
}

div {
    animation-name: grow;
    animation-duration: 12s;
    animation-fill-mode: forwards;
   
    
}

#move {
    position: relative;
    animation-name: move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    color: orange;
}

